In [6]:
import numpy as np
import pandas as pd
data=pd.read_csv('test.csv')
data

   no name   type
0   1     a   NaN
1   2     b   NaN
2   3     a   NaN
3   4     b   NaN
4   5     a   NaN

In [11]:
x=data.iloc[:,0:1]
x.iloc[0]
len(x)
data.iloc[0,2]

5

In [14]:
for i in range(len(x)):
    if x.iloc[i,0]%2==0:
        data.iloc[i,2]='even'
    else:
        data.iloc[i,2]='odd'
data

   no name   type
0   1     a   odd
1   2     b  even
2   3     a   odd
3   4     b  even
4   5     a   odd

In [18]:
data.to_csv('testfinal.csv')

In [19]:
l1=[]
l2=[]
for x in range(len(data)):
    if data.iloc[x,2]=='odd':
        l1.append(data.iloc[x,0:3])
    else:
        l2.append(data.iloc[x,0:3])

In [20]:
l1=pd.DataFrame(l1)
l2=pd.DataFrame(l2)
l1.to_csv('odd.csv')
l2.to_csv('even.csv')

In [22]:
data=pd.read_csv('testfinal.csv')
data

   Unnamed: 0  no name   type
0           0   1     a   odd
1           1   2     b  even
2           2   3     a   odd
3           3   4     b  even
4           4   5     a   odd

In [24]:
d1=pd.read_csv('testfinal.csv',skiprows=1,header=None)
d1

   0  1  2     3
0  0  1  a   odd
1  1  2  b  even
2  2  3  a   odd
3  3  4  b  even
4  4  5  a   odd

In [ ]:
df=d1.rename(columns=d1.iloc[0:0:3])
drop

In [ ]:
pip install bs4