In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
pd.DataFrame([randn(4,5),['A','B','C','D'],['X','Y','Z']])

                                                   0
0  [[-1.45167669542, -0.585410492769, -0.31834003...
1                                       [A, B, C, D]
2                                          [X, Y, Z]

In [4]:
np.random.seed(101)

In [6]:
pd.DataFrame(randn(4,5),['A','B','C','D'],['X','Y','Z'])

ValueError: Shape of passed values is (5, 4), indices imply (3, 4)

In [13]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['X','Y','Z','k'])

In [14]:
type(pd)

module

In [12]:
type(A)

NameError: name 'A' is not defined

In [15]:
df

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727
E  0.197524  2.302987  0.729024 -0.863091

In [17]:
df['X']

A   -1.080471
B    0.975720
C    0.586847
D   -1.678284
E    0.197524
Name: X, dtype: float64

In [18]:
df[['X','Y']]

          X         Y
A -1.080471  0.902398
B  0.975720 -0.388239
C  0.586847 -1.621348
D -1.678284  0.333973
E  0.197524  2.302987

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
type(df['X'])

pandas.core.series.Series

In [21]:
df['new']

KeyError: 'new'

In [22]:
df['new']=df['X']+df['Y']

In [23]:
df

          X         Y         Z         k       new
A -1.080471  0.902398  0.161781  0.833029 -0.178074
B  0.975720 -0.388239  0.783316 -0.708954  0.587481
C  0.586847 -1.621348  0.677535  0.026105 -1.034501
D -1.678284  0.333973 -0.532471  2.117727 -1.344311
E  0.197524  2.302987  0.729024 -0.863091  2.500511

In [24]:
df.drop('new',axis=0)

ValueError: labels ['new'] not contained in axis

In [25]:
df.drop('new',axis=1)

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727
E  0.197524  2.302987  0.729024 -0.863091

In [26]:
df.drop('new',axis=1,inplace=True)

In [27]:
df

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727
E  0.197524  2.302987  0.729024 -0.863091

In [28]:
df

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727
E  0.197524  2.302987  0.729024 -0.863091

In [29]:
df.drop('E')

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727

In [30]:
df.drop('E',axis=0)

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
D -1.678284  0.333973 -0.532471  2.117727

In [32]:
df.drop('D',axis=0,inplace=True)

In [33]:
df

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105
E  0.197524  2.302987  0.729024 -0.863091

In [34]:
df.drop('E',axis=0,inpalce=True)

TypeError: drop() got an unexpected keyword argument 'inpalce'

In [35]:
df.drop('E',axis=0,inplace=True)

In [36]:
df

          X         Y         Z         k
A -1.080471  0.902398  0.161781  0.833029
B  0.975720 -0.388239  0.783316 -0.708954
C  0.586847 -1.621348  0.677535  0.026105

In [37]:
df.loc['A']

X   -1.080471
Y    0.902398
Z    0.161781
k    0.833029
Name: A, dtype: float64

In [38]:
df.loc[['A'],['X']]

          X
A -1.080471

In [39]:
df.loc['A','B']

KeyError: 'the label [B] is not in the [index]'

In [40]:
df.loc[['A','B'],['X','Y']]

          X         Y
A -1.080471  0.902398
B  0.975720 -0.388239